.tooltip {
    position: absolute;
    text-align: center;
    width: 30px;
    height: 25px;
    padding: 3px;
    padding-left: 8px;
    font: 10px sans-serif;
    background: #ddd;
    pointer-events: none;
}